@use '../../styles/global.scss';

.mainFooter {
  min-height: 20vh;
  padding: 4px 0 8px;
  border-top: 4px solid global.$tertiary-color;
  background: global.$main-background-color;
  text-align: center;

  ul {
    display: inline-flex;
    padding: 20px;
    li {
      margin: 0 40px 0 0;
    }
  }
}

.copyrights {
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  a {
    text-decoration: underline;
    &:hover {
      color: global.$tertiary-color;
    }
  }
}
