@use '../../styles/global.scss';

.reactionSumStar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -60px;
  right: -60px;
  width: 120px;
  height: 120px;

  img {
    position: absolute;
    display: block;
    width: 120px;
    height: 120px;
  }

  b {
    display: inline-block;
    z-index: 1;
    padding: 2px 16px;
    margin-top: 4px;
    border-radius: 30px;
    border: 1px solid #ffe993;
    background-color: global.$primary-color;
    color: white;
    font-size: 29px;
    font-weight: bold;
  }
}
